#AboutSection
{
    min-height: 100vh;

    #BigHeroText 
    {
        text-align: center;
        padding-top: 4rem;
    }

    .me 
    {
        text-align: center;
        padding-bottom: 4rem;
    }

    .content_container 
    {
        justify-content: space-between;

        .love 
        {
            padding-top: 6rem;

            #PrimaryTitle 
            {
                text-align: center;
            }
        }
    }


}