#AboutSection
{
    min-height: 100vh;

    .section_text 
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .me 
    {
        padding-top: 4rem;
        text-align: center;
    }

    .content_container 
    {
        justify-content: space-between;

        .love 
        {
            padding-top: 6rem;

            #PrimaryTitle 
            {
                text-align: center;
            }
        }
    }


}