#AboutSection
{
    min-height: 100vh;

    #BigHeroText 
    {
        text-align: center;
        padding-top: 8rem;
    }

    .me 
    {
        text-align: center;
        padding-bottom: 4rem;

        a 
        {
            text-decoration: none;
            font-size: 2.4rem;
            color: $dark-color;

            i 
            {
                margin-top: 1rem;
            }
        }
    }

    .content_container 
    {
        justify-content: space-between;

        .love 
        {
            padding-top: 6rem;

            #PrimaryTitle 
            {
                text-align: center;
            }
        }
    }


}