#BigHeroText
{
    font-size: 8rem;
    font-family: 'Montserrat-Bold';

    &.dark 
    {
        color: $dark-color;
    }

    &.light 
    {
        color: $light-color;
    }

    &::selection 
    {
        color: $accent-color;
    }
}