#CommonText 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &.dark 
    {
        color: $dark-color;
    }

    &.light 
    {
        color: $light-color;
    }

    &.medium 
    {
        font-family: 'Montserrat';
        font-weight: 400;
    }
}