#CommonText 
{
    font-family: 'Montserrat-Bold';

    &.dark 
    {
        color: $dark-color;
    }

    &.light 
    {
        color: $light-color;
    }

    &.medium 
    {
        font-family: 'Montserrat';
    }
}