#FooterSection 
{
    margin-top: 4rem;
    padding: 8rem 0 10rem 0;
    background-color: $dark-color;
    text-align: center;

    @media only screen and (max-width: $m)    
    {
        padding: 4rem 0 6rem 0;
    }

    i 
    {
        font-size: 1.5rem;
        color: $light-color;
        margin-right: 1rem;
    }

    a 
    {
        text-decoration: none;

        &:after 
        {
            content: '';
            display: block;
            height: 5px;
            background-color: $light-color;
            width: 0;
            margin-top: 0.6rem;
            transition: all .2s ease-in-out;

            @media only screen and (max-width: $m)   
            {
                display: none;
            }
        }
    }

    .contact 
    {
        margin: 0;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: $m)   
        {
            display: block;
            padding-top: 2rem;
        }

        div 
        {
            display: flex;
            
            @media only screen and (max-width: $m)   
            {
                display: block;
                padding-top: 1.5rem;
            }

            &.contact_section 
            {
                margin: 0 1.5rem;
            }

            #CommonText 
            {
                @media only screen and (max-width: $m)   
                {
                    padding-top: 0.4rem;
                }
            }

            &:hover 
            {
                a 
                {
                    &:after 
                    {
                        width: 100%;
                    }
                }
            }
        }
    }

    .git 
    {
        padding-top: 6rem;

        a
        {
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            &:hover 
            {
                #CommonText 
                {
                    opacity: 0.7;
                }
            }
            
            #CommonText 
            {
                color: $accent-color;
                margin-top: 0.1rem;
                opacity: 1;
                transition: all .2s ease-in-out;
            }
        }
    }
}