#FooterSection 
{
    margin-top: 4rem;
    padding: 8rem 0 10rem 0;
    background-color: $dark-color;
    text-align: center;

    i 
    {
        font-size: 1.5rem;
        color: $light-color;
        margin-right: 1rem;
    }

    a 
    {
        text-decoration: none;
        padding-bottom: 0.4rem;
        box-sizing: border-box;

        &:after 
        {
            content: '';
            display: block;
            height: 5px;
            background-color: $light-color;
            width: 0;
            transition: all .5s ease-in-out;
        }
    }

    .contact 
    {
        margin: 0;
        display: flex;
        justify-content: center;

        div 
        {
            display: flex;

            &.contact_section 
            {
                margin: 0 1.5rem;
            }

            &:hover 
            {
                a 
                {
                    &:after 
                    {
                        width: 100%;
                    }
                }
            }
        }
    }

    .git 
    {
        padding-top: 6rem;

        a
        {
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            &:hover 
            {
                #CommonText 
                {
                    opacity: 0.7;
                }
            }
            
            #CommonText 
            {
                color: $accent-color;
                margin-top: 0.1rem;
                opacity: 1;
                transition: all .2s ease-in-out;
            }
        }
    }
}