#HeroSection
{
    background-color: #000;

    .container
    {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $m)  
        {
            padding-bottom: 4rem;
        }
    }

    .profile 
    {
        width: 95%;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $m)  
        {
            display: block;
            text-align: center;
            width: 100%;
        }

        .title
        {
            padding-top: 10rem;
            display: flex;
            flex-direction: column;
            text-align: right;

            @media only screen and (max-width: $m)  
            {
                padding-top: 4rem;
                justify-content: center;
                align-items: center;
            }

            #SubTitle 
            {
                background-color: $accent-color;
                display: inline-block;
                align-self: flex-end;
                margin-top: 1rem;
                padding: 0.5rem 1rem;

                @media only screen and (max-width: $m)  
                {
                    align-self: center;
                }
            }
        }
    
        img 
        {
            align-self: center;
            width: 35rem;

            &.profile_img 
            {
                @media only screen and (max-width: $m)  
                {
                    display: none;
                }
            }

            &.logo_img 
            {
                width: 8rem;

                @media only screen and (min-width: $m)  
                {
                    display: none;
                }
            }
        }
    }
}
