#HeroSection
{
    background-color: #000;

    .container
    {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile 
    {
        width: 95%;
        display: flex;
        justify-content: space-between;

        .title
        {
            padding-top: 10rem;
            display: flex;
            flex-direction: column;

            #SubTitle 
            {
                background-color: $accent-color;
                display: inline-block;
                align-self: flex-end;
                margin-top: 1rem;
                padding: 0.5rem 1rem;
            }
        }
    
        img 
        {
            align-self: center;
            width: 35rem;
        }
    }
}
