#LogoOverview 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;

    img 
    {
        width: 5rem;
        align-self: center;
        margin: 0 1rem;
        transform: scale(1);
        transition: all 300ms ease-in-out;
        filter: grayscale(1);
        margin-top: 2rem;

        &:hover 
        {
            transform: scale(1.1);
            filter: grayscale(0);
        }
    }
}