#MainNavigation 
{
    color: $light-color;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
        
    img 
    {
        width: 3rem;
    }

    ul 
    {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }

    li 
    {
        margin-left: 1.5rem;
        line-height: 3rem;
        font-family: 'Montserrat-Bold', sans-serrif;

        &:hover 
        {
            cursor: pointer;
            
            a 
            {
                &:after 
                {
                    width: 100%;
                }
            }
        }
    }

    a 
    {
        color: $light-color;
        text-decoration: none;
        box-sizing: border-box;

        &:after 
        {
            content: '';
            display: block;
            height: 5px;
            background-color: $light-color;
            width: 0;
            transition: all .2s ease-in-out;
        }
    }
}