#MainNavigation 
{
    color: $light-font-color;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
        
    .logo 
    {
        img 
        {
            width: 3rem;
        }
    }

    ul 
    {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;

        li 
        {
            margin-left: 1.5rem;
            line-height: 3rem;
            font-family: 'Montserrat-Bold', sans-serrif;
        }
    }
}