#SingleBar 
{
    padding-top: 2rem;

    #CommonText 
    {
        padding-left: 0.4rem;
    }

    .bar_container 
    {
        display: flex;

        .bar 
        {
            width: calc(100% - 4px);
            line-height: 30px;

            svg 
            {
                height: 10px;
                width: 100%;
            }
        }
        .line 
        {
            width: 2px;
            height: 30px;
            background-color: $light-color;
        }
    }


}