#SingleBar 
{
    padding-top: 2.4rem;

    #CommonText 
    {
        padding-left: 0.7rem;
    }

    .bar_container 
    {
        display: flex;

        @media only screen and (max-width: $m)  
        {
            padding-top: 1rem;
        }

        .bar 
        {
            width: calc(100% - 4px);
            line-height: 20px;
            margin-top: -2px;

            svg 
            {
                height: 10px;
                width: 100%;

                @media only screen and (max-width: $m)  
                {
                    height: 20px;
                }
            }
        }

        .line 
        {
            width: 2px;
            height: 20px;
            background-color: $light-color;
        }
    }


}