#SingleBar 
{
    display: flex;

    .bar 
    {
        width: calc(100% - 4px);
        line-height: 30px;
    }
    .line 
    {
        width: 2px;
        height: 30px;
        background-color: $light-color;
    }
}