#SingleProject 
{
    width: calc(50% - 1rem);
    margin: 0.5rem;

    .overlay
    {
        background-color: #000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    .overlay_text 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 4rem;

        #CommonText
        {
            position: relative;
            top: 40%;
            opacity: 0;
            transition: all .3s ease-in-out 150ms; 
            margin-bottom: 0.5rem;

            &.second 
            {
                transition: all .2s ease-in-out 150ms;
            }
        }
    }

    .img_container 
    {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;

        img 
        {
            width: 100%;
            transition: all 2s ease-in-out;
        }

        .description 
        {
            position: absolute;
            overflow: hidden;
            bottom: 0;
            height: 0rem;
            width: 100%;
            background-color: $dark-color;
            transition: all .2s ease-in-out;
            padding: 0 2rem;
            text-align: left;
            line-height: 5rem;
            display: flex;
            justify-content: space-between; 

            .icons 
            {
                i 
                {
                    color: $light-color;
                    font-size: 1.6rem;
                    line-height: 5rem;
                }
            }
        }

        &:hover 
        {
            img 
            {
                transform: scale(1.1);
            }

            .description 
            {
                height: 5rem;
            }

            .overlay 
            {
                opacity: 0.4
            }

            .overlay_text 
            {
                #CommonText
                {
                    opacity: 1;
                    top: 30%;
                }
            }
        }
    } 
}