// Variables
@import 'variables';

// Global styles
@import 'Index';

// Sections
@import 'HeroSection';
@import 'AboutSection';
@import 'AboutBox';
@import 'PortfolioSection';
@import 'FooterSection';

// Navigation
@import 'MainNavigation';

// Titles
@import 'PrimaryTitle';
@import 'SubTitle';
@import 'BigHeroText';
@import 'CommonText';

// Logo's
@import 'LogoOverview';
@import 'LogoPlaceholder';

// Projects 
@import 'ProjectsOverview';
@import 'SingleProject';