html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

#HeroSection {
  background-color: #000; }
  #HeroSection .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #HeroSection .profile {
    width: 95%;
    display: flex;
    justify-content: space-between; }
    #HeroSection .profile .title {
      padding-top: 10rem;
      display: flex;
      flex-direction: column; }
      #HeroSection .profile .title #SubTitle {
        background-color: #F3B61F;
        display: inline-block;
        align-self: flex-end;
        margin-top: 1rem;
        padding: 0.5rem 1rem; }
    #HeroSection .profile img {
      align-self: center;
      width: 35rem; }

#AboutSection {
  min-height: 100vh; }
  #AboutSection #BigHeroText {
    text-align: center;
    padding-top: 4rem; }
  #AboutSection .me {
    text-align: center;
    padding-bottom: 4rem; }
  #AboutSection .content_container {
    justify-content: space-between; }
    #AboutSection .content_container .love {
      padding-top: 6rem; }
      #AboutSection .content_container .love #PrimaryTitle {
        text-align: center; }

#AboutBox {
  background-color: #000;
  width: 84%;
  margin: 4rem auto;
  padding: 7rem 0; }
  #AboutBox #PrimaryTitle {
    text-align: center; }

#MainNavigation {
  color: #fff;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between; }
  #MainNavigation .logo img {
    width: 3rem; }
  #MainNavigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none; }
    #MainNavigation ul li {
      margin-left: 1.5rem;
      line-height: 3rem;
      font-family: 'Montserrat-Bold', sans-serrif; }

#PrimaryTitle {
  font-size: 2.3rem;
  font-family: 'Montserrat-Bold'; }
  #PrimaryTitle.dark {
    color: #000; }
  #PrimaryTitle.light {
    color: #fff; }

#SubTitle {
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Montserrat-Bold'; }

#BigHeroText {
  color: #000;
  font-size: 8rem;
  font-family: 'Montserrat-Bold'; }

#CommonText {
  font-family: 'Montserrat-Bold'; }
  #CommonText.dark {
    color: #000; }
  #CommonText.light {
    color: #fff; }

#LogoOverview {
  display: flex;
  justify-content: center;
  padding-top: 3rem; }
  #LogoOverview img {
    width: 8rem;
    align-self: center;
    margin: 0 1rem; }

#ProgressBarsOverview {
  padding: 4rem 6rem; }
  #ProgressBarsOverview #PrimaryTitle {
    margin-bottom: 3rem; }

#SingleBar {
  padding-top: 2rem; }
  #SingleBar #CommonText {
    padding-left: 0.4rem; }
  #SingleBar .bar_container {
    display: flex; }
    #SingleBar .bar_container .bar {
      width: calc(100% - 4px);
      line-height: 30px; }
      #SingleBar .bar_container .bar svg {
        height: 10px;
        width: 100%; }
    #SingleBar .bar_container .line {
      width: 2px;
      height: 30px;
      background-color: #fff; }
